[submodule "Counter"]
	path = Counter
	url = https://github.com/yanukadeneth99/Counter
[submodule "Time-Locked-Wallet"]
	path = Time-Locked-Wallet
	url = https://github.com/yanukadeneth99/Time-Locked-Wallet
